@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-primario: #000000;
    --color-secundario: #F6F6F6;
    --color-terciario: #22D4FD;
    --color-hover: #272727;

    --fuente-montserrat: 'Montserrat', sans-serif;
    --fuente-krona: 'Krona One', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--color-primario);
    color: var(--color-secundario);
    box-sizing: border-box;
}

.header{
    padding: 2% 0% 0% 15%;
}

.header__menu{
    display: flex;
    gap: 80px;
}

.header__menu__link{
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-terciario);
    text-decoration: none;
}

.presentacion{
    display: flex;
    align-items: center;
    padding: 2% 15%;
    justify-content: space-between;
    gap: 82px;
}

.presentacion__contenido{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion__contenido__titulo{
    font-size: 2.25rem;
    font-family: var(--fuente-krona);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.linea {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid #000; /* Simula el cursor */
    width: 0; /* Oculta el texto al inicio */
    animation: typing 1s steps(40) forwards, blink 0.7s infinite;
}

/* Animación de escritura */
@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}


.titulo-destacado{
    color: var(--color-terciario);
}

.presentacion__contenido__index{
    font-size: 1.5rem;
    font-family: var(--fuente-montserrat);
    opacity: 0;
    transform: scale(0.5); /* El texto inicia más pequeño */
    animation: aparecerDesdeAtras 0.8s ease-out forwards;
}

@keyframes aparecerDesdeAtras {
    from {
        opacity: 0;
        transform: scale(0.5); /* Pequeño y transparente */
    }
    to {
        opacity: 1;
        transform: scale(1); /* Tamaño normal */
    }
}

.presentacion__contenido__about{
    font-size: 1.5rem;
    font-family: var(--fuente-montserrat);
    opacity: 0;
    transform: scale(0);
    animation: aparecerDesdeAtras 0.8s ease-out forwards;
}

@keyframes aparecerDesdeAtras{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.presentacion__enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.presentacion__enlaces__link{
    width: 50%;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 8px;
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-secundario);
    border:2px solid var(--color-terciario);
    display: flex;
    justify-content: center;
    gap: 10px;
}

.presentacion__enlaces__subtitulos{
    font-family: var(--fuente-krona);
    font-size: 1.5rem;
    font-weight: 400;
}

.presentacion__enlaces__link:hover{
    background-color: var(--color-hover);
}

.presentacion__imagen{
    width: 35%;
    border-radius: 100px;
    opacity: 0;
    transform: scale(0);
    animation: aparecerDesdeAtras 0.8s ease-out forwards;
}

@keyframes aparecerDesdeAtras {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.footer{
    background-color: var(--color-terciario);
    padding: 24px;
    color: var(--color-primario);
    text-align: center;
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width:1200px){

    .header{
        padding: 10%;
    }

    .header__menu{
        justify-content: center;
    }

    .presentacion{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .presentacion__contenido{
        width: auto;
    }
}